@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


a {
   color: #777;
   text-decoration: none;
}

a:hover{
   text-decoration: underline;
}

body {
   font-family: 'Source Sans Pro';
   font-weight: 300;
   background-color: #eee;
   color: black;
}

header h1 {
   text-align: center;
   font-family: 'Abril Fatface';
}

h2, h4 {
   font-family: 'Roboto Slab';
}

h5 {
   color: #dd3232;
   font-family: 'Abril Fatface';
}

li {
   display: inline-block;
   padding: 10px;
}

main {
   padding-bottom: 10px;
}

main img {
   width: 100%;
}

nav.top-nav {
   background-color: white;
   position:sticky;
   z-index: 10;
   top:0px;
   font-size: .9em;
   text-align: center;
   font-weight: 400;
   border-width: 1px 0;
   border-style: solid;
   border-color: #eee;
}

p {
   text-align: justify;
   font-size: .9em;
}


ul {
   margin: 0;
   padding: 0;
}

.date {
   font-weight:lighter;
}

.newspaper-container {
   background-color: white;
   width: 700px;
   margin:35px auto;
   padding: 20px;
   border:1px solid #eee;
   border-radius: 10px;
   box-shadow: 0 0 3px 0 #ddd;
}

.more-articles, .even-more-articles {
   border-top: 1px solid #eee;
   align-content: center;
}


.more-articles > section {
   display: inline-block;
   width: 300px;
   margin: 0 auto;
   padding: 0 20px;
   position:relative;
}

.more-articles > section > p {
   margin: 1em;
}

.more-articles > section:nth-child(2) {
   
   right:-20px;
}

.even-more-articles > section {
   display: inline-block;
   width: 190px;
   margin: 0 auto;
   padding: 0 20px;
   position:relative;
}


.even-more-articles > section img {
   width:190px;
   height: 120px;
}

.even-more-articles > section p {
   margin: 0 5px;
}

nav.bottom-nav {
   background-color: white;
   position:sticky;
   z-index: 10;
   top:0px;
   font-size: .8em;
   text-align: center;
   font-weight: 400;
   border-width: 1px 0;
   border-style: solid;
   border-color: #eee;
}

footer {
   margin-top: 25px;
}

nav.bottom-nav a {
   color: #dd3232;
}